.about-block {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 900px;
  width: 100%;
  margin: 4rem auto 3rem auto;
  text-align: center;

  & a:not(&__link) {
    color: #f4f4f4;
    font-weight: bold;
    border-bottom: 3px solid #fa9312;
    box-shadow: inset 0 -7px 0 rgba(178, 192, 232, 0.25);

    &:hover,
    &:active {
      background: #fa9312;
      color: #111827;
      box-shadow: none;
    }
  }

  h1 {
    font-weight: bold;
    color: #e5ad11;

    span {
      background: linear-gradient(-90deg, #1a3162, #453762);
      padding: 3px 14px;
      color: #f4f4f4;
    }

    .gradient {
      // background: -webkit-linear-gradient(#fa9312, #c9557a);
      // background-clip: border-box;
      // -webkit-background-clip: text;
      // -webkit-text-fill-color: transparent;
      background: none;
    }
  }

  & > img {
    margin: 0 0 3rem 0;
  }

  &__link {
    color: #f4f4f4;
    font-weight: bold;
    padding: 0 3px;

    &:hover,
    &:active {
      background: #f4f4f4;
      color: #111827;

      i {
        color: #111827;
      }
    }

    &_email {
      i {
        color: #d5645f;
      }
    }
  }
}

@media (max-width: 800px) {
  .about-block {
    flex-direction: column;
    align-items: center;
    text-align: center;

    & > div {
      order: 2;
    }

    & > img {
      order: 1;
      // margin: 0 0 4rem 2rem;
    }
  }
}
