.post-tag {
  font-family: "Roboto Mono", monospace;
  text-decoration: none;
  margin: 0 1rem 0 0;
  display: inline-block;
  font-size: 1rem;
  padding: 0 3px 0 3px;

  color: $tag-color-orange;

  &:hover,
  &:active {
    background: $tag-color-orange;
    color: #111827;
  }
}

// .orange {
//   composes: tag;
//   color: var(--tag-color-orange);
// }

// .red {
//   composes: tag;
//   color: var(--tag-color-red);
// }

// .blue {
//   composes: tag;
//   color: var(--tag-color-blue);
// }

// .green {
//   composes: tag;
//   color: var(--tag-color-green);
// }
