<div>
  {{ partial "subscribe_float_btn.html" . }}
  <br>
  {{ define "title" }}
    {{ .Title }}
  {{ end }}
  <!-- for basic page -->
  {{ if and (eq .Type "page") (eq .Type "notes") }}
    <nav class="breadcrumbs">
      <a href="/">Home</a>
      <span class="splitter">/</span>
      <span>{{ .Title }}</span>
    </nav>
  {{ end }}
  <!-- for a blog post -->
  {{ if eq .Params.Type "blog" }}
    {{ .Scratch.Set "go_back_url" "/blog" }}
    {{ .Scratch.Set "go_back_label" "Go Back To Blog" }}
    {{ partial "go_back.html" . }}
  {{ end }}
  <!-- for a note -->
  {{ if and (eq .Type "notes") (eq .Kind "section") }}
    <nav class="breadcrumbs">
      <a href="/">Home</a>
      <span class="splitter">/</span>
      <span>{{ .Title }}</span>
    </nav>
  {{ end }}
  {{ if and (eq .Kind "page") ((not (isset .Params "type")) | or (eq .Params.type "") | or (eq .Page.Params.type "note")) }}
    {{ .Scratch.Set "go_back_url" "/notes" }}
    {{ .Scratch.Set "go_back_label" "Go Back To Notes" }}
    {{ partial "go_back.html" . }}
  {{ end }}
  <article class="content h-entry">
    {{ if .Page.Params.Image }}
        <div class="content__image">
      <Img class="content__image-inner" src="/{{ .Page.Params.Image }}" alt="{{ .Title }}" ></Img>
          {{ if .Page.Params.ImageCopyright }}
            <div
              style="
                font-size: 14px;
                text-align: right;
                margin-top: 10px;
                margin-right: 20px;
              "
            >
              Photo by
              {{ if .Page.Params.ImageCopyrightUrl }}
                <a href="{{.Page.Params.ImageCopyrightUrl}}">{{ .Page.Params.ImageCopyright }}</a>
              {{ else }}
                {{ .Page.Params.ImageCopyright }}
              {{ end }}
            </div>
          {{ end }}
        </div>
    {{ end }}
    <div class="content__inner">
      <header>
        {{ if eq .Params.Type "blog" }}
          <h1 class="p-name">{{ .Title }}</h1>
        {{ end }}
        {{ if and (eq .Kind "page") (or (eq .Params.Type "blog") (eq .Params.Type "note") (eq .Params.Type "") (not (isset .Params "type"))) }}
          <div class="content__info">
            <i aria-hidden="true" class="fa fa-calendar"></i>
            <time class="dt-published" dateTime={{ .Date.Format (.Site.Params.dateFormat | default "02/01/2006" ) }}>
              {{ .Date.Format (.Site.Params.dateFormat | default "02/01/2006" ) }}
            </time>
          </div>
        {{ end }}
        {{ with .Params.Tags }}
          {{ partial "taxonomy/tags.html" . }}
        {{ end }}
        {{ if and (eq .Kind "page") (or (eq .Type "blog") (eq .Type "notes")) }}
          <hr />
        {{ end }}
      </header>
      {{ if eq .Params.Type "blog" }}
        <div id="subscription" class="subscription-top">
          {{ partial "subscription" . }}
        </div>
      {{ end }}
      <section class="e-content">
        {{ .Content }}
      </section>
    </div>
  </article>
  <div id="subscription">
    {{ partial "subscription" . }}
  </div>
  <div class="container">
    <h3 class="monospace text-center bold">
      Comments 💬
    </h3>
    {{ partial "posts/utterances.html" . }}
  </div>
</div>
